<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <packageSources>

    <!-- Add the private NuGet package source for this solution -->
    <add key="LocalOutput" value="..\Game08.Sdk.GlslLanguageServices\NugetOutputs" />

  </packageSources>

  <disabledPackageSources>


  </disabledPackageSources>

</configuration>
